{% extends 'cliente/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block activeMenuItemPage9 %}active{% endblock %}
{% block extrahead %}

{% endblock %}

{% block content %}
<div id="bloco3s">
  <div class="">
    <h3>Nossos <span>planos</span></h3>
    <div class="escolha">
      <ul>
        <li><a href="div1" class="div1 ativo"><span></span>Plano Anual</a></li>
        <li><a href="div2" class="div2"><span></span>Plano Semestral</a></li>
        <li><a href="div3" class="div3"><span></span>Plano Trimestral</a></li>
      </ul>
    </div>
    <div style="clear:both"></div>
    <div class="tabelax">
      <div class="descricao">
        <h2></h2>
        <ul>
          <li><p>Quantidade de oportunidades de negócios por mês</p></li>
          <li class="escuro"><p>Conecta com as dúvidas de empreendedores</p></li>
          <li><p>Artes de posts p/ atualização das suas mídias sociais</p></li>
          <li class="escuro"><p>Ferramentas de marketing para seu escritório</p></li>
          <li><p>Treinamento de marketing e vendas</p></li>
          <li class="escuro"><p>Ser encontrado no Google My Business</p></li>
          <li><p>1 Site até 5 páginas</p></li>
          <li class="escuro"><p>1 Logo pratileira</p></li>
          <li><p>Assinaturas de e-mail</p></li>
          <li class="escuro"><p>1 Posts com a arte personalizado por semana</p></li>
          <li><p>Criação de landing page para captação de Leads</p></li>
          <li class="escuro"><p>Diagramação de Ebook, Guia rapido, infográfico a cada 6 meses</p></li>
          <li><p>Campanhas de marketing contábil com sua marca</p></li>
          <li class="escuro"><p>Construção do planejamento em marketing Contábil</p></li>
          <li><p>Ser encontrado no Google (SEO) ou campanhas Ads</p></li>
          <li class="escuro"><p><strong>RECEBA 5 POTENCIAIS CLIENTES EXCLUSIVOS EM SEU SITE</strong></p></li>
        </ul>
      </div>
      <div class="plano">
        <div class="dentro">
          <h2>Plano Consultor Contábil</h2>
          <ul>
           <li><p>5</p></li>
           <li class="escuro"><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li class="escuro"><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li class="escuro"><p>-</p></li>
           <li><p>-</p></li>
           <li class="escuro"><p>-</p></li>
           <li><p>-</p></li>
           <li class="escuro"><p>-</p></li>
           <li><p>-</p></li>
           <li class="escuro"><p>-</p></li>
           <li><p>-</p></li>
           <li class="escuro"><p>-</p></li>
           <li><p>-</p></li>
           <li class="escuro"><p>-</p></li>
          </ul>

          <div class="valorx div1" id="div1">
           <div class="valor">R$290,00</div>


           <!-- INICIO FORMULARIO BOTAO PAGSEGURO: NAO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
           <form action="https://pagseguro.uol.com.br/pre-approvals/request.html" method="post">
           <input type="hidden" name="code" value="D94C79B8EBEBDD3CC4982F9F02C7ED43" />
           <input type="hidden" name="iot" value="button" />
           <input type="image" src="https://4maos.com.br/static/assets/img/none.png" value="" class="imgescolha botao_planos" name="submit" width="209" height="48"  />
           </form>
           <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->

          </div>
          <div class="valorx div2" id="div2">
           <div class="valor">R$330,00</div>
           <!-- INICIO FORMULARIO BOTAO PAGSEGURO: NAO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
           <form action="https://pagseguro.uol.com.br/pre-approvals/request.html" method="post">
           <input type="hidden" name="code" value="F42AC1B6A8A8ADF884808F9C9EE8642B" />
           <input type="hidden" name="iot" value="button" />
           <input type="image" src="https://4maos.com.br/static/assets/img/none.png" value="" class="imgescolha botao_planos" name="submit"  width="209" height="48"  />
           </form>
           <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->

          </div>
          <div class="valorx div3" id="div3">
           <div class="valor">R$349,00</div>
           <!-- INICIO FORMULARIO BOTAO PAGSEGURO: NAO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
           <form action="https://pagseguro.uol.com.br/pre-approvals/request.html" method="post">
           <input type="hidden" name="code" value="A2918918B6B66A0444652FB2463FA7FA" />
           <input type="hidden" name="iot" value="button" />
           <input type="image" src="https://4maos.com.br/static/assets/img/none.png" value="" class="imgescolha botao_planos" name="submit"  width="209" height="48"  />
           </form>
           <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
          </div>

        </div>
      </div>
      <div class="plano destaque">
        <div class="dentro">
          <h2>Plano Escritórios Contábeis</h2>
          <ul>
           <li><p>10</p></li>
           <li class="escuro"><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li class="escuro"><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li class="escuro"><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li><p>Opção de escolha bimestral</p></li>
           <li class="escuro"><p>Opção de escolha bimestral</p></li>
           <li><p>Opção de escolha bimestral</p></li>
           <li class="escuro"><p>Opção de escolha bimestral</p></li>
           <li><p>Opção de escolha bimestral</p></li>
           <li class="escuro"><p>Opção de escolha bimestral</p></li>
           <li><p>-</p></li>
           <li class="escuro"><p>-</p></li>
           <li><p>-</p></li>
           <li class="escuro"><p>-</p></li>
          </ul>

          <div class="valorx div1" id="div11">
           <div class="valor">R$530,00</div>
           <!-- INICIO FORMULARIO BOTAO PAGSEGURO: NAO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
           <form action="https://pagseguro.uol.com.br/pre-approvals/request.html" method="post">
           <input type="hidden" name="code" value="71200195ADADF1E554676F9417EED31B" />
           <input type="hidden" name="iot" value="button" />
           <input type="image" src="https://4maos.com.br/static/assets/img/none.png" value="" class="imgescolha2 botao_planos" name="submit" width="209" height="48"  />
           </form>
           <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
          </div>
          <div class="valorx div2" id="div21">
           <div class="valor">R$610,00</div>
           <!-- INICIO FORMULARIO BOTAO PAGSEGURO: NAO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
           <form action="https://pagseguro.uol.com.br/pre-approvals/request.html" method="post">
           <input type="hidden" name="code" value="788E2132898907C9944C8F94125C7530" />
           <input type="hidden" name="iot" value="button" />
           <input type="image" src="https://4maos.com.br/static/assets/img/none.png" value="" class="imgescolha2 botao_planos" name="submit" width="209" height="48"  />
           </form>
           <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
          </div>
          <div class="valorx div3" id="div31">
           <div class="valor">R$690,00</div>
           <!-- INICIO FORMULARIO BOTAO PAGSEGURO: NAO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
           <form action="https://pagseguro.uol.com.br/pre-approvals/request.html" method="post">
           <input type="hidden" name="code" value="18B961013939E5ADD412AF8B0F35241E" />
           <input type="hidden" name="iot" value="button" />
           <input type="image" src="https://4maos.com.br/static/assets/img/none.png" value="" class="imgescolha2 botao_planos" name="submit" width="209" height="48"  />
           </form>
           <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
          </div>

        </div>
      </div>
      <div class="plano">
        <div class="dentro">
          <h2>Plano Escritório Premium</h2>
          <ul>
           <li><p>20</p></li>
           <li class="escuro"><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li class="escuro"><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li class="escuro"><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li class="escuro"><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li class="escuro"><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li class="escuro"><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li class="escuro"><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
           <li class="escuro"><img src="https://4maos.com.br/static/assets/img/check-planos.png"></li>
          </ul>

          <div class="valorx div1" id="div12">
           <div class="valor">R$990,00</div>
           <!-- INICIO FORMULARIO BOTAO PAGSEGURO: NAO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
           <form action="https://pagseguro.uol.com.br/pre-approvals/request.html" method="post">
           <input type="hidden" name="code" value="AF0D4744F8F8E4B114D4BFAD88835A56" />
           <input type="hidden" name="iot" value="button" />
           <input type="image" src="https://4maos.com.br/static/assets/img/none.png" value="" class="imgescolha botao_planos" id="submit" name="submit" width="209" height="48"  />
           </form>
           <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
          </div>
          <div class="valorx div2" id="div22">
           <div class="valor">R$1.290,00</div>
           <!-- INICIO FORMULARIO BOTAO PAGSEGURO: NAO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
           <form action="https://pagseguro.uol.com.br/pre-approvals/request.html" method="post">
           <input type="hidden" name="code" value="54443F0E5757DB1444A9CF973978C3DE" />
           <input type="hidden" name="iot" value="button" />
           <input type="image" src="https://4maos.com.br/static/assets/img/none.png" value="" class="imgescolha botao_planos" name="submit" width="209" height="48"  />
           </form>
           <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
          </div>
          <div class="valorx div3" id="div32">
           <div class="valor">Não comercializado</div>
          </div>

        </div>
      </div>
    </div>

    <form class="formplanos">
      <input type="checkbox" name="chk_IDDel" id="chk_IDDel" value='1' checked/> Concordo com os <a href="http://devpublicon.kinghost.net/4maos/site1/termos-de-uso/" target="_blank">termos de uso</a>.
    </form>

  </div>
</div>

 {% endblock %}


{% block script %}
    $(function(){

      $(".valorx").css("display", "none");
      $(".valorx#div1").addClass("ativar");
      $(".valorx#div11").addClass("ativar");
      $(".valorx#div12").addClass("ativar");

      $(".escolha ul li a").on("click", function( e ){         
        e.preventDefault();
        $(".escolha ul li a").removeClass("ativo");
          
        $(".valorx").removeClass("ativar");
          var id = $(this).attr("href");
          var id1 = id+'1';
          var id2 = id+'2';
          $(".escolha ul li a."+id).addClass("ativo");
          $("#"+id+"").addClass("ativar");
          $("#"+id1+"").addClass("ativar");
          $("#"+id2+"").addClass("ativar");
          
      });
    });
    $(document).ready(function () {
      var ckbox = $('#chk_IDDel');

      $('input').on('click',function () {
          if (ckbox.is(':checked')) {
            $(".botao_planos" ).prop( "disabled", false );
          } else {
            $(".botao_planos" ).prop( "disabled", true );
          }
      });
    });
{% endblock %}
