{% if oportunidade %}
<div class="card" data-attr-temNegociacao="{{temNegociacao}}">
   <div class="content">
       <div class="visu2">
          <div class="col-md-6">
               <p><strong>Nome Completo:</strong> {{oportunidade.nomeCompleto|default_if_none:""}}</p>
          </div>
          <div class="col-md-6">
               <p><strong>Empresa:</strong> {{oportunidade.empresa|default_if_none:""}}</p>
          </div>
          <div class="col-md-6">
               <p><strong>Telefone:</strong> {{oportunidade.telefone|default_if_none:""}}</p>
          </div>
          <div class="col-md-6">
               <p><strong>E-mail:</strong> {{oportunidade.email|default_if_none:""}}</p>
          </div>

          <div class="col-md-6">
               <p><strong>CNPJ:</strong> {{oportunidade.cnpj|default_if_none:""}}</p>
          </div>
          <div class="col-md-6">
               <p><strong>Endereço:</strong> {{oportunidade.endereco|default_if_none:""}}</p>
          </div>
          <div class="col-md-12">
               <p><strong>Observação:</strong> {{oportunidade.observacoes|default_if_none:""}}</p>
          </div>

       </div>
   </div>
</div>
{% else %}
<h3><strong>Não foi possível falar com essa oportunidade.</strong></h3>
<p>{{erro}}</p>
{% endif %}
